.header {
  background-image: url('images/header-background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
body {
  padding: 0;
  margin: 0;
  background: #ffff;
}
/*--- navigation bar ---*/
.navbar {
  background:#ffff;
  <header class="page-header header container-fluid">
</header>
}
.nav-link,
.navbar-brand {
  color: #d4af37;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
